@import 'glob-var/_glob-var.scss';

.units {
	width: 1248px;
	padding-top: 80px;
	padding-bottom: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;

	.unit{
		width: 400px;
		height: 560px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-bottom: 35px;
		margin-bottom: 10px;

		&:hover{
			box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.75);
			.slide-btn {
				display: block;
			}

		}
		.unit-img{
			position: relative;
		}
		.slide-btn {
			position: absolute;
			width: 11px;
			height: 22px;
			top: 50%;
			display: none;
			margin-top: -11px;
			border: none;
			cursor: pointer;
		}
		.slide-btn-left{
			background-image: url(../img/arrow-left.png);
			left: 0;
		}
		.slide-btn-right{
			background-image: url(../img/arrow-right.png);
			right: 0;
		}
		.unit-img img {
			width: 100%;
		}
	}
	.unit-title {
		font-size: 18px;
		font-weight: 800;
		color: $text-color-dark;
		width: 260px;
		margin: 0 auto;
		text-align: center;
	}
	p {
		font-style: 16px;
		font-weight: 600;
		text-align: center;

		span {
		font-weight: 500;
		}

	}
		.make-offer{
		background: none;
		background-color: $background-color-light;
		border: none;
		border: 1px solid $border-color-darck;
		width: 190px;
		padding-top: 10px;
		padding-bottom: 10px;
		border-radius: 26px;
		font-size: 18px;
		text-transform: uppercase;
		cursor: pointer;
		margin: 0 auto;
		font-weight: 700;

		&:hover{
			color: $text-color-light;
			background-color: $border-color-darck;
		}
		}

		.view-product{
		background: none;
		background-color: $background-color-light;
		border: none;
		border: 1px solid $border-color-darck;
		width: 190px;
		padding-top: 10px;
		padding-bottom: 10px;
		border-radius: 26px;
		font-size: 18px;
		text-transform: uppercase;
		cursor: pointer;
		margin: 0 auto;

		&:hover{
			color: $text-color-light;
			background-color: $border-color-darck;
		}
		}
}