$text-color-light: #fff;

$text-color-dark: #616365;


$background-color-bright: #0067ee;

$background-color-darck: #0a0c0f;

$background-color-light: #fff;


$border-color-light: #fff;

$border-color-darck: #616365;

